<%= form_with(model: final, local: true ) do |form| %>
  <% if final.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(final.errors.count, "error") %> prohibited this final from being saved:</h2>

      <ul>
      <% final.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
