<tr class="col-4 ">
        <td data-number = <%= final.id %>><%= final.name %></td>
        <td><%= link_to 'Show', final %></td>
        <td><%= link_to 'Edit', edit_final_path(final),remote: true %></td>
        <td><%= link_to 'Destroy', final_path(final), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>