<p id="notice"><%= notice %></p>

<h1>Finals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<div class="container">
  <tbody class="row " style='width:700px' >
  
    <% @finals.each do |final| %>
      <tr class="col-4 ">
        <td data-number = <%= final.id %>><%= final.name %></td>
        <td><%= link_to 'Show', final %></td>
        <td><%= link_to 'Edit', edit_final_path(final),remote: true %></td>
        <td><%= link_to 'Destroy', final_path(final), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>

<%= link_to 'New Final', new_final_path ,remote: true %>
