<p id="notice"><%= notice %></p>

<h1>Finals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @finals.each_with_index  do |final,index| %>
      <tr>
        <td data-number = <%= index %>><%= final.name %></td>
        <td><%= link_to 'Show', final %></td>
        <td><%= link_to 'Edit', edit_final_path(final, index),remote: true %></td>
        <td><%= link_to 'Destroy', final, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Final', new_final_path %>
